textarea {
  font-family: 'Open Sans';
}

.uk-form-horizontal .uk-form-label {
  text-align: right;
  width: 250px;
}

.uk-form-label {
  font-size: inherit;
}

.uk-form-horizontal .uk-form-controls {
  margin-left: 275px;
}

.ng-touched.ng-invalid {
  border-color: #e44e56;
}

