<div *ngIf="showStage > 0" class="uk-width-1-1 uk-margin-bottom">
    <!--<hr>-->

    <!-- STAGE RESULT DISPLAY -->
    <div *ngIf="showStage > 1" class="uk-form-controls">
        <!--<h5>{{ stageTitle }}</h5>-->
        <div *ngIf="canEditStage" data-html2canvas-ignore>
            <a class="uk-link" (click)="editStage(true)"><i class="uk-icon" uk-icon="pencil"></i> Επεξεργασία</a>
        </div>
        <div>
            {{ submittedStageResult }}{{ getDelegateName() }}
            στις {{ currentStage['date'] | date : 'dd-MM-yyyy' }}
        </div>

        <!-- read each field's description -->
        <div *ngFor="let desc of stageFields" class="uk-grid uk-margin-small-top">

            <!-- display a checkbox value -->
            <div *ngIf="desc.type === 'checkbox'" class="uk-width-expand">
                <span>
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
                         style="border: solid 1px lightgray; border-radius: 2px">
                        <polyline *ngIf="currentStage[ desc.id ]" fill="none" stroke="#000" stroke-width="1.1" points="4,10 8,15 17,4"></polyline>
                    </svg>
                </span>
                <label class="uk-width-1-3  uk-margin-small-left">{{ desc.label }}</label>
            </div>

            <!-- display a text value -->
            <div *ngIf="(desc.type === 'text') && currentStage[ desc.id ]" class="uk-margin-small-top">>
                <span class="uk-text-bold uk-margin-small-right">{{ desc.label }}</span>
                <span> {{ currentStage[ desc.id ] }}</span>
            </div>

            <!-- display a long text value -->
            <div *ngIf="(desc.type === 'textarea') && currentStage[ desc.id ]" class="uk-margin-small-top">
                <span class="uk-text-bold uk-margin-small-right">{{ desc.label }} </span>
                <span> {{ currentStage[ desc.id ] }} </span>
            </div>
        </div>

        <!-- display links to attachments -->
        <div *ngIf="currentStage['attachments'] && (currentStage.attachments.length > 0)" class="uk-margin-small-top " data-html2canvas-ignore>
            Για λήψη του αρχείου που επιθυμείτε, πατήστε στον αντίστοιχο σύνδεσμο:
            <span *ngFor="let f of currentStage.attachments; let i = index">
              <a class="uk-link uk-width-1-1@l" (click)="linkToFile(i)">
                {{ f.filename }}
              </a>
              <span *ngIf="currentStage.attachments.length > i + 1"> |</span>
            </span>
        </div>
    </div>
    <!-- END OF STAGE RESULT DISPLAY -->

    <!-- STAGE FORM -->
    <div *ngIf="(showStage === 1) && stageForm" [formGroup]="stageForm" class="uk-form-controls stageForm">
        <h5>{{ stageTitle }}</h5>

        <div *ngIf="stageFormError" class="uk-alert uk-alert-danger">{{ stageFormError }}</div>

        <!-- FORM CONTROLS -->
        <div *ngFor="let desc of stageFields">
            <app-form-field [description]="desc">

                <!-- add a checkbox -->
                <div *ngIf="desc.type === 'checkbox'" class="uk-width-expand">
                    <input formControlName="{{ desc.id }}"
                           class="uk-form-controls uk-checkbox" type="checkbox">
                </div>

                <!-- add a text field -->
                <div *ngIf="desc.type === 'text'">
                    <input formControlName="{{ desc.id }}"
                           class="uk-form-controls uk-input" type="text">
                </div>

                <!-- add a textarea -->
                <div *ngIf="desc.type === 'textarea'">
                    <textarea formControlName="{{ desc.id }}"
                              class="uk-form-controls uk-textarea" rows="2"></textarea>
                </div>
            </app-form-field>
        </div>

        <!--ATTACHMENT FIELDS-->
        <app-form-upload-files [uploadedFilenames]="uploadedFilenames"
                               (emitFiles)="getAttachmentsInput($event)"
                               (emitDelete)="removeUploadedFile($event)"></app-form-upload-files>

        <!--BUTTONS-->
        <div *ngIf="!canEditStage">
            <button class="uk-button uk-button-primary" (click)="approveRequest(true)">Εγκρίνεται</button>
            <button class="uk-button uk-button-danger" (click)="showRejectionModal()">Απορρίπτεται</button>
            <button class="uk-button uk-button-default" (click)="goBackOneStage()">Επιστροφή στο προηγούμενο στάδιο</button>
        </div>
        <div *ngIf="canEditStage">
            <button class="uk-button uk-button-primary" (click)="resubmitPreviousStage()">Αποθήκευση αλλαγών</button>
            <button class="uk-button uk-button-default" (click)="editStage(false)">Κλείσιμο</button>
        </div>

        <!-- CURRENT DATE DISPLAY -->
        <div>
            <span class="uk-text-small">Ημερομηνία: {{ getCurrentDateString() }}</span>
        </div>

    </div>
    <!-- END OF STAGE FORM -->

</div>

<div *ngIf="currentStage" id="{{'rejectionModal' + stageId}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h4 class="uk-modal-title uk-h4">Επιβεβαίωση απόρριψης</h4>
        <div class="uk-modal-body">
            Είστε βέβαιοι ότι επιθυμείτε να απορρίψετε το αίτημα;
        </div>
        <button class="uk-button uk-button-danger uk-margin-small-right uk-modal-close" (click)="approveRequest(false)">Απόρριψη αιτήματος</button>
        <button class="uk-button uk-button-default uk-modal-close">Κλείσιμο</button>
    </div>
</div>
