<div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
<div class="uk-background-norepeat uk-background-cover uk-background-fixed uk-section uk-padding-remove-bottom uk-flex uk-flex-middle"
     style="background-image: url('../../assets/imgs/background-arcexpenses.jpeg'); box-sizing: border-box; height: 200px">
     <!--style="background-image: url('./assets/imgs/omtd_home_2.jpeg'); box-sizing: border-box; height: 150px">-->
  <div class="uk-position-cover"></div>
  <div class="uk-width-1-1">
    <div class="uk-position-relative">
      <div class="uk-container uk-margin-medium">
        <div class="search_box_bg uk-grid-large uk-flex-middle uk-grid uk-grid-stack" uk-grid="">
          <div class="uk-width-1-1@m uk-first-column">
            <div>
              <div class="search_box_bg" style="text-align:center">
                <form [formGroup]="keywordField" class="uk-align-center uk-margin-top">
                  <input class="uk-input uk-width-2-3 uk-search-field"
                         placeholder="αρ.πρωτοκόλλου, χειριστής, επιστημονικός υπεύθυνος" formControlName="keyword">
                  <button class="uk-button uk-button-secondary" type="submit" (click)="getSearchByKeywordResults()"><i class="fa fa-search"></i> Αναζήτηση</button>
                  <button class="uk-button uk-button-default" (click)="initializeParams()">Καθάρισμα επιλογών</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container uk-container-expand">
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <!--<h1 class="uk-h3 uk-heading-bullet uk-padding-small uk-margin-remove">{{title}}</h1>-->

        <!-- TOP HELP CONTENT -->
        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-remove">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <!--<aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>-->

              <!-- FILTERS SIDEMENU -->
            <div *ngIf="filtersForm" [formGroup]="filtersForm"
                 class="uk-card uk-card-body uk-card-default sidemenu uk-margin-bottom">

                <div class="uk-margin-bottom"><h6 class="uk-heading-bullet">Φίλτρα Αναζήτησης</h6></div>
                <div class="uk-margin-bottom">
                    <div class="show-options uk-inline">
                        <div>
                            <div>
                                <label class="filterLabel uk-text-bold uk-margin-large-bottom" for="selectEditable">
                                    <input class="uk-checkbox" type="checkbox" id="selectEditable" [checked]="editableSelected"
                                           (change)="toggleEditable($event)">&nbsp;&nbsp;Αναμένουν δική μου ενέργεια
                                </label>
                            </div>
                            <div>
                                <label class="filterLabel uk-text-bold uk-margin-large-bottom" for="selectIsMine">
                                    <input class="uk-checkbox" type="checkbox" id="selectIsMine" [checked]="myRequestsSelected"
                                           (change)="toggleIsMine($event)">&nbsp;&nbsp;Δικά μου αιτήματα
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-bottom">
                    <div formArrayName="phases" class="show-options uk-inline">
                        <label class="filterLabel uk-text-bold uk-margin-large-bottom" for="selectAllPhases">
                            <input class="uk-checkbox" type="checkbox" id="selectAllPhases" [checked]="allPhasesSelected"
                                   (change)="toggleSearchAllPhases($event)">&nbsp;&nbsp;Φάση</label>
                        <div>
                            <div [formGroupName]="'0'">
                                <label for="phase1">
                                    <input class="uk-checkbox" type="checkbox" formControlName="phase" id="phase1"
                                           (change)="choosePhase()">&nbsp;&nbsp;Πρώτη φάση
                                </label>
                            </div>
                            <div [formGroupName]="'1'">
                                <label for="phase2">
                                    <input class="uk-checkbox" type="checkbox" formControlName="phase" id="phase2"
                                           (change)="choosePhase()">&nbsp;&nbsp;Δεύτερη φάση
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-bottom">
                    <div formArrayName="typeChoices" class="show-options uk-inline">
                        <label class="filterLabel uk-text-bold uk-margin-large-bottom" for="selectAllTypes">
                            <input class="uk-checkbox" type="checkbox" id="selectAllTypes" [checked]="allTypesSelected"
                                   (change)="toggleSearchAllTypes($event)">&nbsp;&nbsp;Τύπος</label>
                        <div *ngFor="let reqtype of requestTypeIds; let type_i = index">
                            <div [formGroupName]="type_i">
                                <label for="type_{{ type_i }}">
                                    <input class="uk-checkbox" type="checkbox" formControlName="type" id="type_{{ type_i }}"
                                           (change)="chooseType()">
                                    {{ reqTypes[reqtype.toUpperCase()] }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-margin-bottom">
                   <div formArrayName="statusChoices" class="show-options uk-inline">
                       <label class="filterLabel uk-text-bold uk-margin-large-bottom" for="selectAllStatus">
                           <input class="uk-checkbox" type="checkbox" id="selectAllStatus" [checked]="allStatusSelected"
                                  (change)="toggleSearchAllStatuses($event)">&nbsp;&nbsp;Κατάσταση</label>
                       <div>
                           <div [formGroupName]="'0'">
                               <label for="pending">
                                   <input class="uk-checkbox" type="checkbox" formControlName="status" id="pending"
                                          (change)="chooseState()">
                                   &nbsp;{{ stateNames['pending'] }}
                               </label>
                           </div>
                           <div [formGroupName]="'1'">
                               <label for="rejected">
                                   <input class="uk-checkbox" type="checkbox" formControlName="status" id="rejected"
                                          (change)="chooseState()">
                                   &nbsp;{{ stateNames['rejected'] }}
                               </label>
                           </div>
                           <div [formGroupName]="'2'">
                               <label for="accepted">
                                   <input class="uk-checkbox" type="checkbox" formControlName="status" id="accepted"
                                          (change)="chooseState()">
                                   &nbsp;{{ stateNames['accepted'] }}
                               </label>
                           </div>
                           <div [formGroupName]="'3'">
                               <label for="cancelled">
                                   <input class="uk-checkbox" type="checkbox" formControlName="status" id="cancelled"
                                          (change)="chooseState()">
                                   &nbsp;{{ stateNames['cancelled'] }}
                               </label>
                           </div>
                       </div>
                   </div>
               </div>
               <div *ngIf="!isSimpleUser && stages" class="uk-margin-bottom ">
                   <div formArrayName="stageChoices" class="show-options uk-inline">
                       <label class="filterLabel uk-text-bold uk-margin-large-bottom" for="selectAllStages">
                           <input class="uk-checkbox" type="checkbox" id="selectAllStages" [checked]="allStagesSelected"
                                  (change)="toggleSearchAllStages($event)">&nbsp;&nbsp;Στάδιο</label>
                       <div *ngFor="let stage of filtersForm.controls['stageChoices'].controls; let stage_i = index">
                           <div [formGroupName]="stage_i">
                               <label for="stage_{{ stage_i }}">
                                   <input class="uk-checkbox" type="checkbox" formControlName="stage" id="stage_{{ stage_i }}"
                                          (change)="chooseStage()">
                                   &nbsp;{{ stagesMap[stages[stage_i]] }}
                               </label>
                           </div>
                       </div>
                   </div>
               </div>

           </div>

              <!-- MIDDLE -->
            <div class="uk-width-expand">
                <div>
                    <div *ngIf="errorMessage" class="uk-alert uk-alert-warning">{{errorMessage}}</div>
                    <div *ngIf="showSpinner" class="uk-inline uk-position-center uk-padding-large-top">
                        <div class="uk-overlay-default uk-position-cover"></div>
                        <div uk-spinner="ratio: 2" class="uk-overlay uk-dark"></div>
                    </div>
                    <div *ngIf="searchResults && !showSpinner">
                        <div class="uk-float-left">
                            A=Ανάληψη, Π=Περαίωση
                            <div class="uk-margin-small-top">
                                <div *ngFor="let filter of getExtraFiltersKeys()" class="uk-label uk-margin-small-right">
                                    <span class="uk-margin-small-right">
                                        {{ extraFiltersTranslation[filter] }}: {{ extraFilters.get(filter) }}</span>
                                    <span>
                                        <a class="uk-link uk-position-z-index" uk-icon="icon: close" (click)="removeExtraFilter(filter)"></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid page-controls uk-flex-right">
                            <div class="uk-margin-bottom ">
                                <div class="uk-inline">
                                    <div class="filterLabel">Αιτήματα ανά σελίδα:</div>
                                    <div class="inlineBlock">
                                        <select id="req-pagesize" class="form-control" (change)="getItemsPerPage($event)">
                                            <option value="10" [selected] = "itemsPerPage === 10">10</option>
                                            <option value="25" [selected] = "itemsPerPage === 25">25</option>
                                            <option value="50" [selected] = "itemsPerPage === 50">50</option>
                                            <option value="100" [selected] = "itemsPerPage === 100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contentAndPagerPanel">

                            <div class="uk-width-1-1 uk-margin-top uk-padding-top uk-padding-remove-bottom">
                                <!-- Paging-top -->
                                <div class="uk-width-1-1 uk-align-center">
                                    <ul class="uk-pagination uk-padding-small uk-padding-remove-bottom">
                                        <li>
                                            <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                                                <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-previous" ratio="1"></svg>
                                                </span>
                                                Προηγούμενη Σελίδα
                                            </a>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <div class="resultsPageLabel" style="all: unset; font-size: small">page {{ (totalPages > 0) ? currentPage+1 : 0 }} of {{ totalPages }}</div>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                                                Επόμενη Σελίδα
                                                <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-next" ratio="1"></svg>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <div *ngIf="listOfRequests" class="uk-width-1-1 uk-overflow-auto uk-scrollspy-inview uk-animation-slide-top-medium uk-margin-top uk-margin-bottom">
                                    <table class="uk-table uk-table-hover uk-table-divider">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Αρ.Πρωτ./Ειδος</th>
                                                <th><a class="uk-margin-small-right" title="Ταξινόμηση με βάση το ακρώνυμο του έργου"
                                                       (click)="sortBy('request_project_acronym')">
                                                    Εργο&nbsp;
                                                    <span *ngIf="orderField && (orderField === 'request_project_acronym')"
                                                          [innerHtml]="getOrderSign()"></span>
                                                    </a>
                                                    <a class="uk-link uk-icon-link" uk-icon="icon: search; ratio: 1"
                                                       uk-toggle="target: #projectAcronym" title="Αναζήτηση ακρωνύμου"></a>
                                                    <div class="uk-navbar-dropdown uk-padding-small" style="display: block;" id="projectAcronym" hidden>
                                                        <dropdown-search [id]="'projectAcronym'"
                                                                         (emitSearchTerm)="addExtraFilter($event)"></dropdown-search>
                                                    </div>

                                                </th>
                                                <th>
                                                    <a class="uk-margin-small-right" title="Ταξινόμηση με βάση το όνομα του Ινστιτούτου ή της Μονάδας"
                                                       (click)="sortBy('request_institute')">
                                                    Ινστιτουτο / Μοναδα
                                                    <span *ngIf="orderField && (orderField === 'request_institute')"
                                                          [innerHtml]="getOrderSign()"></span>
                                                    </a>
                                                    <a class="uk-link uk-icon-link" uk-icon="icon: search; ratio: 1"
                                                       uk-toggle="target: #institute" title="Αναζήτηση ινστιτούτου/μονάδας"></a>
                                                    <div class="uk-navbar-dropdown uk-padding-small" style="display: block;" id="institute" hidden>
                                                        <dropdown-search [id]="'institute'"
                                                                         (emitSearchTerm)="addExtraFilter($event)"></dropdown-search>
                                                    </div>

                                                </th>

                                                <th>
                                                    Αιτων
                                                    <a class="uk-link uk-icon-link uk-margin-small-left"
                                                       uk-icon="icon: search; ratio: 1"
                                                       uk-toggle="target: #requester" title="Αναζήτηση με το email του αιτούντα"></a>
                                                    <div class="uk-navbar-dropdown uk-padding-small" style="display: block;" id="requester" hidden>
                                                        <dropdown-search [id]="'requester'"
                                                                         (emitSearchTerm)="addExtraFilter($event)"></dropdown-search>
                                                    </div>
                                                </th>
                                                <th><a title="Ταξινόμηση με βάση την ημερομηνία έναρξης της ανάληψης ή της περαίωσης του αιτήματος"
                                                       (click)="sortBy('creation_date')">
                                                    Ημ/νια&nbsp;
                                                    <span *ngIf="orderField && (orderField === 'creation_date')"
                                                          [innerHtml]="getOrderSign()"></span>
                                                    </a>
                                                </th>
                                                <th *ngIf="!isSimpleUser">Σταδιο</th>
                                                <th><span class="uk-margin-right">Κατασταση</span></th>
                                            </tr>
                                            <tr *ngIf="noRequests">
                                                <td colspan="8">{{noRequests}}</td>
                                            </tr>
                                            <tr class="uk-link" *ngFor="let req of listOfRequests"
                                                routerLink="/requests/{{(req.baseInfo.id).includes('a')? 'request-stage':'request-stage-payment'}}/{{req.baseInfo.id}}"
                                                title="Μετάβαση στην σελίδα του αιτήματος" [style.backgroundColor]="req.canEdit ? '#f7f7f7' : ''">
                                                <td>{{ req.baseInfo.id.includes('a') ? 'Α': 'Π' }}</td>
                                                <td>{{ req.baseInfo.requestId }}<br>{{ reqTypes[req.requestType] }}</td>
                                                <td>{{ req.projectAcronym }}</td>
                                                <td>{{ req.instituteName }}</td>
                                                <td>{{ req.requestFullName }}</td>
                                                <td>{{ req.baseInfo.creationDate | date : 'dd-MM-yyyy' }}</td>
                                                <td *ngIf="!isSimpleUser">{{ stagesMap[req.baseInfo.stage]}}</td>
                                                <td>{{ getStatusAsString(req.baseInfo.status.toLowerCase()) }}</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                            <div class="uk-width-1-1 uk-margin-top uk-padding-top uk-padding-remove-top">
                                <!-- Paging-bottom -->
                                <div class="uk-width-1-1 uk-align-center">
                                    <ul class="uk-pagination uk-padding-small uk-padding-remove-top">
                                        <li>
                                            <a class="uk-link uk-link-muted" (click)="goToPreviousPage()">
                                                <span class="uk-margin-small-right uk-pagination-previous uk-icon" uk-pagination-previous="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-previous" ratio="1"></svg>
                                                </span>
                                                Προηγούμενη Σελίδα
                                            </a>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <div class="resultsPageLabel" style="all: unset; font-size: small">page {{ (totalPages > 0) ? currentPage+1 : 0 }} of {{ totalPages }}</div>
                                        </li>

                                        <li class="uk-margin-auto-left">
                                            <a class="uk-link uk-link-muted" (click)="goToNextPage()">
                                                Επόμενη Σελίδα
                                                <span class="uk-margin-small-left uk-pagination-next uk-icon" uk-pagination-next="">
                                                    <svg width="7" height="12" viewBox="0 0 7 12" xmlns="http://www.w3.org/2000/svg"
                                                         icon="pagination-next" ratio="1"></svg>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
