<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<!--<div class="tm-header uk-visible@m tm-header-transparent" uk-header="">-->
  <!--<div class="uk-navbar-container uk-sticky uk-navbar-transparent" uk-sticky="top:0" media="768"-->
       <!--cls-active="uk-active uk-navbar-sticky" style="" animation="uk-animation-slide-top"-->
       <!--top=".tm-header + [class*=&quot;uk-section&quot;]" cls-inactive="uk-navbar-transparent">-->
    <!--<div class="uk-container uk-container-expand">-->
      <!--<nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">-->
<div class="tm-header uk-visible@m tm-header-transparent" uk-header="">
  <div class="uk-navbar-container uk-sticky uk-navbar-transparent" uk-sticky="top:0" media="768"
       cls-active="uk-active uk-navbar-sticky" style="" animation="uk-animation-slide-top"
       top=".tm-header + [class*=&quot;uk-section&quot;]" cls-inactive="uk-navbar-transparent">
    <div class="uk-container uk-container-expand">
      <nav class="uk-navbar" uk-navbar="{&quot;align&quot;:&quot;left&quot;}">
                <div class="uk-navbar-left">
                    <a [routerLink]="['home']" class="uk-navbar-item navbar-brand-athena uk-logo" title="Αρχική Σελίδα"></a>
                    <!--<span class="test">[TEST]</span>-->
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['home']">
                                Αρχική
                            </a>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a aria-expanded="false">Πρωτογενές αίτημα</a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left" style="top: 80px; left: 106.55px;"
                                 id="newRequestMenu" (click)="onClick('newRequestMenu')">
                                <div class="uk-navbar-dropdown-grid uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">
                                    <div class="uk-first-column">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a [routerLink]="['new-request', 'regular']">{{ reqTypes['REGULAR'] }}</a></li>
                                            <li><a [routerLink]="['new-request', 'trip']">{{ reqTypes['TRIP'] }}</a></li>
                                            <li><a [routerLink]="['new-request', 'contract']">{{ reqTypes['CONTRACT'] }}</a></li>
                                            <li><a [routerLink]="['new-request', 'services_contract']">{{ reqTypes['SERVICES_CONTRACT'] }}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['requests']">
                                Αιτήματα
                            </a>
                        </li>
                        <li class="uk-parent" [routerLinkActive]="['uk-active']">
                            <a [routerLink]="['about']">
                                Σχετικά
                            </a>
                        </li>
                        <li class="uk-parent">
                            <a (click)="showContactForm()">
                                Επικοινωνία
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent uk-inline">
                            <!--<a class="loginLink uk-margin-right" [routerLink]="['sign-up']" routerLinkActive="uk-active">Είσοδος-->
                            <a class="loginLink uk-link" routerLinkActive="uk-active">
                                <a *ngIf="!loggedIn" class="uk-margin-right uk-link" (click)="login()">Είσοδος</a>
                                <span *ngIf="loggedIn" class="uk-margin-right">{{ getUserName() }}</span>
                                <span class="uk-margin-small-right uk-icon">
                                    <svg height="20" ratio="1" viewBox="0 0 20 20" width="20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="9.9" cy="6.4" fill="none" r="4.4" stroke="#000"
                                                stroke-width="1.1"></circle>
                                        <path d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"
                                              fill="none" stroke="#000" stroke-width="1.1"></path>
                                    </svg>
                                </span>
                            </a>
                            <div *ngIf="loggedIn" uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a [routerLink]="['/sign-up']">Στοιχεία χρήστη</a></li>
                                    <!-- TODO:: ADD OPERATORS WHEN DECIDED -->
                                    <li *ngIf="isAdmin">
                                        <a (click)="goToAdmin()">Εφαρμογή διαχείρισης έργων</a>
                                    </li>
                                    <li><a (click)="logout()">Έξοδος</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--<div class="uk-sticky-placeholder" style="height: 80px; margin: 0px;" hidden="hidden"></div>-->
</div>


<div class="uk-hidden@m">
    <div class="uk-navbar-container" uk-sticky>
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" href="#tm-mobile" uk-toggle>
                    <div uk-navbar-toggle-icon="" class="uk-navbar-toggle-icon uk-icon">
                    </div>
                </a>
            </div>
            <div class="uk-navbar-center">
                <a routerLink="/home" class="uk-navbar-item navbar-brand-athena uk-logo"></a>
            </div>
        </nav>
    </div>
    <div id="tm-mobile" uk-offcanvas="" mode="slide" overlay="" class="uk-offcanvas">
        <div class="uk-offcanvas-bar" style="background-color: #1e3684 !important;">
            <button class="uk-offcanvas-close uk-close uk-icon uk-margin-bottom" type="button" style="color: white !important;" uk-close>
            </button>
            <!--<div class="uk-child-width-1-1 uk-grid uk-grid-stack" uk-grid="">-->
                <div class="uk-margin-top">
                    <!--<div class="uk-panel" id="module-0">-->
                        <ul class="uk-nav" style="color: white !important;">
                            <li class="uk-parent">
                                <a class="loginLink uk-link" routerLinkActive="uk-active">
                                    <a *ngIf="!loggedIn" class="uk-margin-right uk-link" (click)="login()">Είσοδος</a>
                                    <span *ngIf="loggedIn" class="uk-margin-right">{{ getUserName() }}</span>
                                    <span class="uk-margin-small-right uk-icon">
                                        <svg height="20" ratio="1" viewBox="0 0 20 20" width="20"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="9.9" cy="6.4" fill="none" r="4.4" stroke="#000"
                                                    stroke-width="1.1"></circle>
                                            <path d="M1.5,19 C2.3,14.5 5.8,11.2 10,11.2 C14.2,11.2 17.7,14.6 18.5,19.2"
                                                  fill="none" stroke="#000" stroke-width="1.1"></path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li class="uk-parent" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['home']">
                                    Αρχική
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a [routerLink]="['new-request']" [routerLinkActive]="['uk-active']">
                                    Πρωτογενές αίτημα
                                </a>
                                <!--<div>
                                    <div class="uk-first-column">-->
                                        <ul class="uk-subnav uk-divider-vertical">
                                            <li>
                                                <a [routerLink]="['new-request', 'regular']" [routerLinkActive]="['uk-active']">
                                                    {{ reqTypes['REGULAR'] }}
                                                </a>
                                            </li>
                                            <li>
                                                <a [routerLink]="['new-request', 'trip']" [routerLinkActive]="['uk-active']">
                                                    {{ reqTypes['TRIP'] }}
                                                </a>
                                            </li>
                                            <li>
                                                <a [routerLink]="['new-request', 'contract']" [routerLinkActive]="['uk-active']">
                                                    {{ reqTypes['CONTRACT'] }}
                                                </a>
                                            </li>
                                            <li>
                                                <a [routerLink]="['new-request', 'services_contract']" [routerLinkActive]="['uk-active']">
                                                    {{ reqTypes['SERVICES_CONTRACT'] }}
                                                </a>
                                            </li>
                                        </ul>
                                    <!--</div>
                                </div>-->
                            </li>
                            <li class="uk-parent" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['requests']">
                                    Αιτήματα
                                </a>
                            </li>
                            <li class="uk-parent" [routerLinkActive]="['uk-active']">
                                <a [routerLink]="['about']">
                                    Σχετικά
                                </a>
                            </li>
                            <li class="uk-parent">
                                <a (click)="showContactForm()">
                                    Επικοινωνία
                                </a>
                            </li>
                        </ul>
                        <hr>
                        <div *ngIf="loggedIn">
                            <ul class="uk-nav" style="color: white !important;">
                                <li class="uk-parent">
                                    <a [routerLink]="['/sign-up']" [routerLinkActive]="'uk-active'">
                                        Στοιχεία χρήστη
                                    </a>
                                </li>
                                <!-- TODO:: ADD OPERATORS WHEN DECIDED -->
                                <li *ngIf="isAdmin">
                                    <a (click) = goToAdmin()>
                                        Εφαρμογή διαχείρισης έργων
                                    </a>
                                </li>
                                <li class="uk-parent">
                                    <a (click)="logout()">
                                        Έξοδος
                                    </a>
                                </li>
                            </ul>
                        </div>
                    <!--</div>
                </div>-->
            </div>
        </div>
    </div>
</div>

<!-- Φόρμα επικοινωνίας -->
<div id="contactModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h4 class="uk-modal-title uk-h4">Φόρμα Επικοινωνίας</h4>
        <div *ngIf="modalError" class="uk-alert uk-alert-danger">{{ modalError }}</div>
        <div *ngIf="contactForm" class="uk-modal-body">
            <div [formGroup]="contactForm">
                <div class="uk-margin">
                    <label class="uk-form-label" for="name">Όνομα <span>(*)</span></label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="name" formControlName="name">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="surname">Επώνυμο <span>(*)</span></label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="surname" formControlName="surname">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="email">Email <span>(*)</span></label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="email" formControlName="email">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="subject">Θέμα <span>(*)</span></label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="subject" formControlName="subject">
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="message">Μήνυμα <span>(*)</span></label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" id="message" formControlName="message"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button class="uk-button uk-button-primary" type="button" (click)="submitContactForm($event)">Αποστολή</button>
        <button class="uk-button uk-button-primary uk-modal-close" type="button">Άκυρο</button>
    </div>
</div>

