<div *ngIf="showStage > 0" class="uk-width-1-1 uk-margin-bottom">
    <!--<hr>-->

    <!-- STAGE RESULT DISPLAY -->
    <div *ngIf="showStage > 1" class="uk-form-controls">
        <!--<h5>{{ stageTitle }}</h5>-->
        <div *ngIf="canEditStage" data-html2canvas-ignore>
            <a class="uk-link" (click)="editStage(true)"><i class="uk-icon" uk-icon="pencil"></i> Επεξεργασία</a>
        </div>
        <div>
            {{ submittedStageResult }}{{ getDelegateName() }}
            στις {{ currentStage['date'] | date : 'dd-MM-yyyy' }}
        </div>

        <!-- display a long text value -->
        <div *ngIf="currentStage['comment']" class="uk-margin-small-top">
            <span class="uk-text-bold uk-margin-small-right">Σχόλια: </span>
            <span> {{ currentStage['comment'] }} </span>
        </div>

        <!-- display links to attachments -->
        <div *ngIf="currentStage['attachments'] && (currentStage.attachments.length > 0)" class="uk-margin-small-top " data-html2canvas-ignore>
            Για λήψη του αρχείου που επιθυμείτε, πατήστε στον αντίστοιχο σύνδεσμο:
            <span *ngFor="let f of currentStage.attachments; let i = index">
              <a class="uk-link uk-width-1-1@l" (click)="linkToFile(i)">
                {{ f.filename }}
              </a>
              <span *ngIf="currentStage.attachments.length > i + 1"> |</span>
            </span>
        </div>
    </div>
    <!-- END OF STAGE RESULT DISPLAY -->

    <!-- STAGE FORM -->
    <div *ngIf="(showStage === 1) && stageForm" [formGroup]="stageForm" class="uk-form-controls stageForm">
        <h5>{{ stageTitle }}</h5>

        <div *ngIf="stageFormError" class="uk-alert uk-alert-danger">{{ stageFormError }}</div>

        <!-- FORM CONTROLS -->

        <!-- COMMENT FIELD -->
        <app-form-field [description]="commentFieldDesc">
            <textarea formControlName="comment" class="uk-form-controls uk-textarea" rows="2"></textarea>
        </app-form-field>

        <!--ATTACHMENT FIELDS-->
        <app-form-upload-files [uploadedFilenames]="uploadedFilenames" (emitFiles)="getAttachmentsInput($event)"
                               (emitDelete)="removeUploadedFile($event)">
        </app-form-upload-files>

        <!--BUTTONS-->
        <div *ngIf="!canEditStage">
            <button class="uk-button uk-button-primary" (click)="approveRequest(true)">Προώθηση αιτήματος</button>
            <button class="uk-button uk-button-default" (click)="goBackOneStage()">Επιστροφή στο προηγούμενο στάδιο</button>
        </div>

        <div *ngIf="canEditStage">
            <button class="uk-button uk-button-primary" (click)="resubmitPreviousStage()">Αποθήκευση αλλαγών</button>
            <button class="uk-button uk-button-default" (click)="editStage(false)">Κλείσιμο</button>
        </div>

        <!-- CURRENT DATE DISPLAY -->
        <div>
            <span class="uk-text-small">Ημερομηνία: {{ getCurrentDateString() }}</span>
        </div>

    </div>
    <!-- END OF STAGE FORM -->

</div>
