<div *ngIf="showSpinner" class="whiteFilm"><i class="fa fa-spinner fa-spin fa-5x loader" aria-hidden="true"></i></div>
<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
    <div class="uk-container uk-container-expand">
        <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
        <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-width-1-1@m uk-first-column">

                <h1 id="requestTitle" class="uk-h3 uk-heading-bullet uk-padding-small">
                    Προϋπολογισμός έργου {{ currentBudget ? currentBudget.projectAcronym + ' για το ' + currentBudget.year: '' }}
                </h1>

                <!-- TOP HELP CONTENT -->
                <help-content #topHelperContent [position]="'top'"
                              [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                </help-content>

                <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom">
                    <div class="uk-grid">

                        <!-- LEFT HELP CONTENT -->
                        <aside-help-content #leftHelperContent [position]="'left'"
                                            [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
                        </aside-help-content>

                        <!-- MIDDLE -->
                        <div class=" uk-width-expand@m">
                            <div *ngIf="errorMessage" class="uk-alert uk-alert-danger">{{ errorMessage }}</div>
                            <div *ngIf="successMessage" class="uk-alert uk-alert-success">{{ successMessage }}</div>
                            <div *ngIf="notFoundMessage" class="uk-alert">{{ notFoundMessage }}</div>

                            <div id="printable-section" *ngIf="!showSpinner && currentRequestInfo">

                                <!--1st stage-->
                                <div *ngIf="showStage1" class="submittedRequest">
                                    <div *ngIf="currentRequestInfo.previousStage && (currentRequestInfo.previousStage === '1')" data-html2canvas-ignore>
                                        <button class="uk-button uk-button-small uk-button-primary" style="border-radius: 3px !important;"
                                                (click)="editStage1(true)">Επεξεργασία</button>
                                    </div>
                                    <div class="uk-margin-bottom uk-width-1-1 uk-grid">
                                        <div class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Έργο:</span>
                                            <span *ngIf="currentBudget.projectAcronym">
                                                {{ currentBudget.projectAcronym }} ({{currentBudget.instituteName}})
                                            </span>
                                        </div>
                                        <div class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Έτος: </span>
                                            <span *ngIf="currentBudget.year">{{ currentBudget.year}}</span>
                                        </div>
                                        <div class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Ημερομηνία υποβολής:</span>
                                            <span>{{ currentBudget.creationDate | date : 'dd-MM-yyyy' }}</span>
                                        </div>
                                        <div class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Από:</span>
                                            <span>{{ currentBudget.submittedBy.firstname }} {{ currentBudget.submittedBy.lastname }}</span>
                                        </div>

                                        <div class="uk-width-1-1@l uk-margin-top">
                                            <span class="uk-text-bold uk-margin-small-right uk-text-uppercase"><u>Κατανομη δαπανων</u></span>
                                        </div>
                                        <div *ngIf="currentBudget.regularAmount" class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Προμήθειες:</span>
                                            <span>{{ currentBudget.regularAmount | currency: 'EUR': 'symbol-narrow' }}</span>
                                        </div>
                                        <div *ngIf="currentBudget.contractAmount" class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Συμβάσεις έργου:</span>
                                            <span>{{ currentBudget.contractAmount | currency: 'EUR': 'symbol-narrow' }}</span>
                                        </div>
                                        <div *ngIf="currentBudget.tripAmount" class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Ταξίδια:</span>
                                            <span>{{ currentBudget.tripAmount | currency: 'EUR': 'symbol-narrow' }}</span>
                                        </div>
                                        <div *ngIf="currentBudget.servicesContractAmount" class="uk-width-1-2@l">
                                            <span class="uk-text-bold uk-margin-small-right">Συμβάσεις υπηρεσίας:</span>
                                            <span>{{ currentBudget.servicesContractAmount | currency: 'EUR': 'symbol-narrow' }}</span>
                                        </div>

                                        <div *ngIf="currentBudget.comment" class="uk-width-1-1@l">
                                            <span class="uk-text-bold uk-margin-small-right">Σχόλια:</span>
                                            <span>{{ currentBudget.comment }}</span>
                                        </div>

                                        <div *ngIf="currentBudget.boardDecision" class="uk-margin-small-top uk-width-1-1@l " data-html2canvas-ignore>
                                            <span class="uk-text-bold uk-margin-small-right">Απόφαση Διοικητικού Συμβουλίου: </span>
                                            <a class="uk-link" (click)="linkToFile('boardDecision')"> {{ currentBudget.boardDecision.filename }}</a>
                                        </div>

                                        <div *ngIf="currentBudget.technicalReport" class="uk-width-1-1@l " data-html2canvas-ignore>
                                            <span class="uk-text-bold uk-margin-small-right">Τεχνικό Δελτίο: </span>
                                            <a class="uk-link" (click)="linkToFile('technicalReport')"> {{ currentBudget.technicalReport.filename }}</a>
                                        </div>
                                        <div *ngIf="currentBudget.additionalBoardDecisions && (currentBudget.additionalBoardDecisions.length > 0)"
                                             class="uk-margin-small-top uk-width-1-1@l " data-html2canvas-ignore>
                                            Για λήψη του αρχείου που επιθυμείτε, πατήστε στον αντίστοιχο σύνδεσμο:
                                            <span *ngFor="let f of currentBudget.additionalBoardDecisions; let i = index">
                                                <a class="uk-link uk-width-1-1@l" (click)="linkToFile('additionalBoardDecisions', i)">
                                                    {{ f.filename }}
                                                </a>
                                                <span *ngIf="currentBudget.additionalBoardDecisions.length > i + 1"> |</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- stage 1 form -->
                                <div *ngIf="!showStage1" data-html2canvas-ignore>
                                    <app-budget-stage1 [currentBudget]="currentBudget"
                                                       (emitBudget)="getUpdatedBudget($event)"
                                                       (emitCloseForm)="editStage1($event)"></app-budget-stage1>
                                </div>

                                <!--end of 1st stage-->
                                <div class="uk-text-right" data-html2canvas-ignore>
                                  <span *ngIf="canBeCancelled"
                                        class="uk-margin-small-right"
                                        title="Πατήστε για να ακυρώσετε τον προϋπολογισμό" uk-tooltip>
                                    <button class="uk-button uk-button-danger" style="min-width: 200px;" type="button" uk-toggle="target: #cancellationModal">
                                      Ακύρωση
                                    </button>
                                  </span>

                                    <button class="uk-button uk-button-primary" (click)="printBudget()"
                                            title="Πατήστε για λήψη σε μορφή pdf" uk-tooltip  style="min-width: 200px;">
                                        Λήψη ως PDF</button>
                                </div>

                                <!-- Submitted stages view -->
                                <hr>

                                <div class="uk-margin-top" *ngIf="(currentRequestInfo['2'].showStage >= 1) || (currentRequestInfo['4'].showStage >= 1)">
                                    <h4>Έγκριση ετήσιας δαπάνης δαπάνης</h4>
                                </div>

                                <!-- STAGES -->
                                <div class="uk-child-width-expand uk-grid" uk-grid
                                     *ngIf="(currentRequestInfo['2'].showStage > 1) || (currentRequestInfo['3'].showStage > 1)">

                                    <stage2-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                                      *ngIf="currentRequestInfo['2'].showStage > 1"
                                                      [data]="{currentStage: currentBudget.stage2, currentRequestInfo: currentRequestInfo}"
                                                      (promptEdit)="editPreviousStage($event)"></stage2-component>

                                    <stage4-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                                      *ngIf="currentRequestInfo['4'].showStage > 1"
                                                      [data]="{currentStage: currentBudget.stage4, currentRequestInfo: currentRequestInfo}"
                                                      (promptEdit)="editPreviousStage($event)"></stage4-component>
                                </div>



                                <div class="uk-child-width-expand uk-grid" uk-grid
                                     *ngIf="(currentRequestInfo['5a'].showStage > 1) || (currentRequestInfo['6'].showStage > 1)">

                                    <stage5a-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                                       *ngIf="currentRequestInfo['5a'].showStage > 1"
                                                       [data]="{currentStage: currentBudget.stage5a, currentRequestInfo: currentRequestInfo}"
                                                       (promptEdit)="editPreviousStage($event)"></stage5a-component>

                                    <stage6-component class="uk-card uk-card-body uk-card-basic-info uk-margin-left"
                                                      *ngIf="currentRequestInfo['6'].showStage > 1"
                                                      [data]="{currentStage: currentBudget.stage6, currentRequestInfo: currentRequestInfo}"
                                                      (promptEdit)="editPreviousStage($event)"></stage6-component>
                                </div>

                                <!-- Form for editing previous stage -->
                                <div class="uk-margin-medium-top" data-html2canvas-ignore
                                     *ngIf="(currentRequestInfo.previousStage) &&
                                             (currentRequestInfo.previousStage !== '1') &&
                                             (currentRequestInfo[currentRequestInfo.previousStage]['showStage'] === 1)">

                                    <app-stage-loader [stage]="prevStageLoaderAnchorItem"
                                                      (emitStage)="getSubmittedStage($event)"
                                                      (promptEdit)="editPreviousStage($event)"></app-stage-loader>

                                </div>

                                <!-- Form of pending stage -->
                                <div class="uk-margin-medium-top " data-html2canvas-ignore
                                     *ngIf="(currentBudget.stage !== '1') && (currentRequestInfo[currentBudget.stage]['showStage'] === 1)">

                                    <app-stage-loader [stage]="stageLoaderAnchorItem"
                                                      (emitStage)="getSubmittedStage($event)"></app-stage-loader>

                                </div>

                                <!-- Message to user -->
                                <div *ngIf="(currentBudget.budgetStatus !== 'PENDING') && (currentBudget.budgetStatus !== 'UNDER_REVIEW')"
                                     class="uk-alert uk-alert-primary uk-text-center uk-margin-top">
                                    Ο προϋπολογισμός {{ stateNames[currentBudget.budgetStatus] }}.
                                </div>

                            </div>

                        </div>
                        <div *ngIf="showAmounts && amountsStatus"
                             class="uk-card uk-card-body uk-card-secondary sidemenu uk-margin-left">
                            <h3>Δαπάνες έργου</h3>
                            <ul class="uk-list">
                                <li class="uk-h5 uk-margin-remove-bottom uk-text-uppercase uk-margin-top">Προμηθειες</li>
                                <li><b>Συνολικό ποσό: </b>{{ amountsStatus.REGULAR.total | currency: 'EUR': 'symbol-narrow' }}</li>
                                <li>
                                    <b>Εγκεκριμένες δαπάνες: </b>
                                    {{ amountsStatus.REGULAR.paid | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                                <li>
                                    <b>Υπόλοιπο: </b>
                                    {{ (amountsStatus.REGULAR.total - amountsStatus.REGULAR.paid) | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                                <li class="uk-h5 uk-margin-remove-bottom uk-text-uppercase uk-margin-top">Ταξιδια</li>
                                <li><b>Συνολικό ποσό: </b>{{ amountsStatus.TRIP.total | currency: 'EUR': 'symbol-narrow' }}</li>
                                <li>
                                    <b>Εγκεκριμένες δαπάνες: </b>
                                    {{ amountsStatus.TRIP.paid | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                                <li>
                                    <b>Υπόλοιπο: </b>
                                    {{ (amountsStatus.TRIP.total - amountsStatus.TRIP.paid) | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                                <li class="uk-h5 uk-margin-remove-bottom uk-text-uppercase uk-margin-top">Συμβασεις</li>
                                <li><b>Συνολικό ποσό: </b>{{ amountsStatus.CONTRACT.total | currency: 'EUR': 'symbol-narrow' }}</li>
                                <li>
                                    <b>Εγκεκριμένες δαπάνες: </b>
                                    {{ amountsStatus.CONTRACT.paid | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                                <li>
                                    <b>Υπόλοιπο: </b>
                                    {{ (amountsStatus.CONTRACT.total - amountsStatus.CONTRACT.paid) | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                                <li class="uk-h5 uk-margin-remove-bottom uk-text-uppercase uk-margin-top">Συμβασεις Υπηρεσιας</li>
                                <li><b>Συνολικό ποσό: </b>{{ amountsStatus.SERVICES_CONTRACT.total | currency: 'EUR': 'symbol-narrow' }}</li>
                                <li>
                                    <b>Εγκεκριμένες δαπάνες: </b>
                                    {{ amountsStatus.SERVICES_CONTRACT.paid | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                                <li>
                                    <b>Υπόλοιπο: </b>
                                    {{ (amountsStatus.SERVICES_CONTRACT.total - amountsStatus.SERVICES_CONTRACT.paid) | currency: 'EUR': 'symbol-narrow' }}
                                </li>
                            </ul>
                        </div>

                    </div>


                    <!-- BOTTOM HELP CONTENT -->
                    <help-content #bottomHelperContent [position]="'bottom'"
                                  [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
                    </help-content>


                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="currentBudget" id="cancellationModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h4 class="uk-modal-title uk-h4">Επιβεβαίωση ακύρωσης</h4>
        <div class="uk-modal-body">
            Είστε βέβαιοι ότι επιθυμείτε να ακυρώσετε τον προϋπολογισμό<br>με αρ.πρωτ.{{ currentBudget.id }};
        </div>
        <button class="uk-button uk-button-danger uk-margin-small-right" (click)="confirmedCancel()">Ακύρωση προϋπολογισμού</button>
        <button class="uk-button uk-button-default uk-modal-close">Κλείσιμο</button>
    </div>
</div>
