/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

@import 'assets/css/theme';
@import 'assets/css/theme.update';

html {
  color: #333;
}

.navbar-brand-athena {
  background-image: url('https://www.athena-innovation.gr/sites/all/themes/aohna/images/athena-logo-symbol.svg'),url('https://www.athena-innovation.gr/sites/all/themes/aohna/images/athena-logo-type-el.svg'),url('https://www.athena-innovation.gr/sites/all/themes/aohna/images/athena-logo-blurb-el.svg');
  width: 453px;
  height: 100px;
  top: 12px;
  left: 20px;
}

.whiteFilm {
  background: #ffffff none repeat scroll 0 0;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 5;
}

.loader {
  color: #2c318c;
  margin: 25% auto;
}

.uk-navbar-container {
  background: #fff;
  box-shadow: 2px 15px 50px rgba(41, 44, 61, .1);
}

.uk-navbar-container:not(.uk-sticky-below) {
  background: #fff;
  box-shadow: none;
}

//.uk-navbar-container:not(.uk-navbar-transparent) {
//  background: #fff;
//  box-shadow: 2px 15px 50px rgba(41, 44, 61, .1);
//}

.uk-navbar-dropdown-nav > li > a {
  color: #444;
}


.uk-card-basic-info {
  background: rgba(103,118,144,0.05);
  border-radius: 2px;
  padding: 20px 20px;
}
