<div class="uk-section-default uk-section uk-section-small uk-padding-remove-bottom" style="min-height: 325px">
  <div class="uk-container uk-container-expand">
    <div class="tm-header-placeholder uk-margin-remove-adjacent" style="height: 84px;"></div>
    <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid="">
      <div class="uk-width-1-1@m uk-first-column">

        <h1 class="uk-h2 uk-heading-bullet uk-padding-small">{{title}}</h1>

        <!-- TOP HELP CONTENT -->

        <help-content #topHelperContent [position]="'top'"
                      [ngClass]="topHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>

        <div class="uk-container uk-container-expand uk-margin-medium-top uk-margin-medium-bottom">
          <div class="uk-grid">

            <!-- LEFT HELP CONTENT -->
            <aside-help-content #leftHelperContent [position]="'left'"
                                [ngClass]="leftHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

            <!-- MIDDLE -->

                <div class="uk-width-expand@m">

                  <div class="">
                    <h4>Αναλυτική παρουσίαση της διαδικασίας ανάληψης υποχρέωσης και υλοποίησης δαπάνης</h4>
                    Στη διαδικασία αυτή, εμπλέκονται οι εξής (ατομικοί ή ομαδικοί) ρόλοι της συγκεκριμένης διαδικασίας ή συνολικότερα της όλης λειτουργίας του Κέντρου:
                    <ul>
                      <li><strong>Αιτών</strong> - Εκκινεί την όλη διαδικασία σύμφωνα με συγκεκριμένη ανάγκη δαπάνης (πρωτογενές αίτημα).</li>
                      <li><strong>Γραφείο Ταμειακής Διαχείρισης</strong> - Προετοιμάζει τη λογιστική καταχώρηση και τραπεζική εξόφληση μιας δαπάνης.</li>
                      <li><strong>Δαπανών</strong> - Πραγματοποιεί μια συγκεκριμένη δαπάνη (π.χ., ταξιδιώτης, υπεύθυνος προμηθειών, κτλ.).</li>
                      <li><strong>Διατάκτης</strong> - Ο Πρόεδρος του ΔΣ ή άλλος εξουσιοδοτημένος από αυτόν με απόφαση ΔΣ.</li>
                      <li><strong>Επιστημονικός Υπεύθυνος</strong> - Ηγείται του φυσικού αντικειμένου και έχει τη συνολική
                        εποπτεία του έργου στο πλαίσιο του οποίου θα πραγματοποιηθεί η δαπάνη.</li>
                      <li><strong>Γραφείο Διαδικαστικού Ελέγχου</strong> - Ελέγχει και βεβαιώνει τη νομιμότητα και κανονικότητα
                        των διαδικασιών πραγματοποίησης δαπανών.</li>
                      <li><strong>Προϊστάμενος Οικονομικών Υπηρεσιών (Π.Ο.Υ.)</strong> - Προΐσταται των Οικονομικών Υπηρεσιών
                        του Κέντρου και έχει τη συνολική εποπτεία και ευθύνη της οικονομικής του δραστηριότητας</li>
                      <li><strong>Υπεύθυνος Διαχείρισης</strong> - Χειρίζεται το διαχειριστικό και οικονομικό αντικείμενο του
                        σχετικού έργου</li>.
                      <li><strong>Υπεύθυνος Δι@ύγειας–ΚΗΜΔΥΣ</strong> - Αναρτά στη Δι@ύγεια και στο ΚΗΜΔΥΣ (όπου απαιτείται)
                        αποφάσεις που εμπίπτουν στη σχετική υποχρέωση και λαμβάνονται από αρμόδια στελέχη στο χώρο ευθύνης του μέσα στο Κέντρο.</li>
                    </ul>

                  </div>

                  <p>
                    Η επιτυχής και σύννομη πραγματοποίηση μιας δαπάνης περιλαμβάνει δύο φάσεις, οι οποίες αναλύονται παρακάτω.
                  </p>

                  <div class="uk-margin-small-bottom">
                    Η πρώτη φάση <i>προηγείται</i> της πραγματοποίησης της δαπάνης:
                  </div>
                  <div>
                    <i><u>Ανάληψη Υποχρέωσης Δαπάνης (A)</u></i>
                    <ol>
                      <li>Ο <strong>Αιτών</strong> <i>συμπληρώνει</i> (ηλεκτρονικό) έγγραφο με περιγραφή αιτήματος δαπάνης και
                        καταγραφή της αναγκαιότητας και σκοπιμότητας. Επίσης επισυνάπτει οποιοδήποτε υποστηρικτικό υλικό απαιτείται ανάλογα με το είδος της δαπάνης (π.χ., έρευνα αγοράς, έντυπο έγκρισης ταξιδιού, κλπ.).</li>
                      <li>Ο <strong>Επιστημονικός Υπεύθυνος</strong> του έργου <i>εγκρίνει</i> το αίτημα.</li>
                      <li>Ο <strong>Υπεύθυνος Διαχείρισης</strong> του έργου <i>ελέγχει</i> το αίτημα και βεβαιώνει τα εξής:
                        <ul>
                          <li>ύπαρξη διαθέσιμου χρηματικού υπολοίπου στον οικείο τραπεζικό λογαριασμό.</li>
                          <li>συμβατότητα δαπάνης με συγκεκριμένη κατηγορία εντός του συνολικού και του
                            ετήσιου εγκεκριμένου προϋπολογισμού του έργου.</li>
                        </ul>
                        Κατόπιν, <i>εισηγείται</i> την επικύρωση της δυνατότητας πραγματοποίησης της δαπάνης.
                      </li>
                      <li>Ο <strong>Π.Ο.Υ.</strong> <i>επανελέγχει</i> και <i>επιβεβαιώνει</i> τα ανωτέρω και <i>επικυρώνει</i> τη δυνατότητα πραγματοποίησης της δαπάνης ως εξής:
                        <div class="uk-card uk-card-body uk-card-simple uk-margin-top uk-margin-bottom">
                          <i>... βεβαιώνεται</i>
                          <ol>
                            <li>
                              <i>ότι η ανωτέρω δαπάνη .................................... (... ) Ευρώ <br></i>
                              <i>είναι εντός του εγκεκριμένου ποσοστού διάθεσης, και</i>
                            </li>
                            <li>
                              <i>η συνδρομή των προϋποθέσεων της παρ. 1α του άρθ. 4 του ΠΔ 80/2016.</i>
                            </li>
                          </ol>
                          <i>Καταχωρήθηκε με α/α ...... στο Βιβλίο</i> <br>
                          <i>Εγκρίσεων & Εντολών Πληρωμής της Υπηρεσίας μας</i> <br>
                          <i>Υπόλοιπο προς ανάληψη: ......................</i> <br>
                          <strong><i>Ο Προϊστάμενος της Οικονομικής Υπηρεσίας</i></strong>
                        </div>
                      </li>
                      <li>Ο <strong>Διατάκτης</strong> <i>εκδίδει</i> την απόφαση ανάληψης υποχρέωσης σε βάρος των πιστώσεων του προϋπολογισμού του έργου ή, εφόσον απαιτείται, εισηγείται την έκδοση της απόφασης στο ΔΣ.</li>
                      <li>Ο οικείος <strong>Υπεύθυνος Δι@ύγειας</strong> <i>αναρτά</i> την απόφαση στη Δι@ύγεια και στο ΚΗΜΔΥΣ (όπου απαιτείται) και <i>ενημερώνει</i> τον Αιτούντα σχετικώς.</li>
                    </ol>
                  </div>

                  <div class="uk-margin-small-bottom">
                    Η δεύτερη φάση <i>έπεται</i> της πραγματοποίησης της δαπάνης, η οποία ακολουθεί την ολοκλήρωση της πρώτης:
                  </div>
                  <div>
                    <i><u>Εξόφληση Δαπάνης (B)</u></i>
                    <ol>
                      <li>Ο <strong>Δαπανών</strong> <i>υποβάλει</i> όλα τα σχετικά δικαιολογητικά.
                      <li>Το <strong>Γραφείο Διαδικαστικού Ελέγχου</strong> <i>ελέγχει</i> και <i>βεβαιώνει</i> την ορθότητα (νομιμότητα
                      και κανονικότητα) όλων των διαδικασιών όπως τεκμηριώνεται από τα δικαιολογητικά
                      και εισηγείται την επικύρωση τους.</li>
                      <li>Ο <strong>Π.Ο.Υ.</strong> <i>επανελέγχει</i> και <i>επιβεβαιώνει</i> τα ανωτέρω και <i>επικυρώνει</i> τη νομιμότητα και
                        κανονικότητα της δαπάνης.
                      </li>
                      <li>Ο <strong>Διατάκτης</strong> <i>υπογράφει</i> το ένταλμα πληρωμής.</li>
                      <li>Ο οικείος <strong>Υπεύθυνος Δι@ύγειας</strong> <i>αναρτά</i> την απόφαση στη Δι@ύγεια και <i>ενημερώνει</i>
                        το Γραφείο Ταμειακής Διαχείρισης σχετικώς.</li>
                      <li>Το <strong>Γραφείο Ταμειακής Διαχείρισης</strong> <i>εξοφλεί</i> τη δαπάνη.</li>
                    </ol>
                  </div>

                  <div class="uk-margin-top uk-padding-small uk-text-justify uk-text-small uk-card uk-card-simple">
                    <span class="uk-text-bold">Προσωπικά δεδομένα</span><br>
                    <span>
                      Η είσοδος στην εφαρμογή αυτή και η υποβολή αιτήματος συνεπάγεται την γνωστοποίηση των προσωπικών δεδομένων σας (ονοματεπώνυμο, e-mail, θέση στον φορέα και αίτημα) στους ανωτέρω ρόλους, όπως περιγράφονται.
                      Τα προσωπικά δεδομένα σας διατηρούνται για όσο χρόνο απαιτείται για την ολοκλήρωση του έργου, στο πλαίσιο του οποίου θα πραγματοποιηθεί η δαπάνη, και τον έλεγχο αυτού.
                      Σε περίπτωση που χρειάζεστε περισσότερες πληροφορίες για την επεξεργασία των προσωπικών δεδομένων σας, μπορείτε να επικοινωνήσετε με το dpo@athena-innovation.gr.
                    </span>
                  </div>

                </div>


            <!-- RIGHT HELP CONTENT -->
            <aside-help-content #rightHelperContent [position]="'right'"
                                [ngClass]="rightHelperContent.isPresent()?'tm-sidebar uk-width-1-4@m uk-first-column':'clear-style'">
            </aside-help-content>

          </div>
        </div>


        <!-- BOTTOM HELP CONTENT -->
        <help-content #bottomHelperContent [position]="'bottom'"
                      [ngClass]="bottomHelperContent.isPresent()?'uk-margin-medium-top uk-margin-medium-bottom':'clear-style'">
        </help-content>


      </div>
    </div>
  </div>
</div>
